#hello{
	-fx-background-color:black;
	
}

#border_c{
	-fx-background-color:black;
	
}

#namet{
	-fx-background-color:#b5abab;
	
}

#portt{
	-fx-background-color:#b5abab;
	
}


#servert{
	-fx-background-color:#b5abab;
}


#namel{
	-fx-background-color:#b5abab;
	
}

#portl{
	-fx-background-color:#b5abab;
	
}


#serverl{
	-fx-background-color:#b5abab;
}

#peerlistt{
	-fx-background-color:#b5abab;
	
}

#txaMessaget{
	-fx-background-color:#b5abab;
	
}


#txtMessaget{
	-fx-background-color:#b5abab;
}
